<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <title>Certificate Generator</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body> 
    <section>
        <nav class="nav">
            <!-- <i class="fa-solid fa-file-certificate fa-beat-fade" style="font-size:60px;color:red;"></i>
            <i class="fa-solid fa-file-certificate fa-beat-fade"></i> -->
            <i class="fa-solid fa-certificate fa-flip"></i>
            <div>Products</div>
            <div>Demos</div>
            <div>Resources</div>
            <div>Pricing</div>
            <div class="sign_in">Sign in</div>
        </nav>
        <h1 class="head">Online Certificate Maker</h1>
        <div class="content">Generate beautiful certificates for your students<br> or colleagues and download in PDF format</div>
        <button class="button">Create your beautiful Certificate</button>
         {% comment %} <a class="button" href="{% url 'pdf_view' %}" target="_blank">View Invoice</a> {% endcomment %}
        <img class="img1" src="/static/1st.png"></img>
        <div class="con1">
            <div class="para1"><h1>Create Certificates Online or Auto Generate via API</h1><br>
                Easily create certificates and awards online to recognize the achievements of your employees, speakers, students etc.
                Simply enter some details and generate your certificate PDF in one click. You can download up to 5 beautiful PDF certificates per day for free.
                Creating a lot of certificates and need to automate the process? Look into our API or Nocode automations to generate PDF certificates in bulk.</div>
            <img class="img2" src="/static/sec.png"></img></div>
        <div class="con2">
        <div class="con21"><h2>High Quality Templates</h2><br>
            We don't have as many templates as some other tools, but the ones we have look great and are in high quality vector format — download your certificates and print them at high resolutions.
            </div>
        <div class="con22"><h2>No Design Skills Needed</h2><br>
            If you're a professional in any field, this is the certificate tool for you. No design skills needed to create stunning certificates of achievement or other documents that represent your awards and achievements.
            </div>
        <div class="con23"><h2>Download for Free</h2><br>
            The certificate maker tool is designed as a free way to quickly create and download certificates for anything you want. Create PDFs on your computer, iPad or iPhone - wherever you are, and download them instantly.</div>
        </div></div>
        <br><br><hr>
        <div class="con3">
            <h1>Start For Free!</h1>
            <video src="https://webstockreview.net/images/certificate-clipart-animation-1.gif"></video>
        </div>
        
        <div class='air air1'></div>
        <div class='air air2'></div>
        <div class='air air3'></div>
        <div class='air air4'></div>
      </section>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="/static/index.js"></script>
</body>
</html>